[Desktop Entry]
Name=Namaz Vakitleri
Comment=Namaz vakitlerini takip et
Exec=/opt/namazvakitleri
Icon=/opt/namaz-vakitleri/namaz.png
Type=Application
Terminal=false
Categories=Utility;
