[Desktop Entry]
Name=Namaz Vakitleri
Comment=Namaz vakitlerini takip et
Exec=python3 /opt/namazvakitleri/namaz.py
Icon=/opt/namazvakitleri/namaz.png
Type=Application
Terminal=false
Categories=Utility;
