Source: namazvakitleri
Maintainer: mobilturka <muslimlinux@gmail.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 1.0
Section: utils

Package: namazvakitleri
Priority: extra  
Architecture: all
Depends: python3, python3-requests, python3-gi, libgtk-4-1
Description: GTK4 ile yazilmis Namaz Vakitleri uygulamasi.
