Package: namaz-vakitleri
Version: 1.0
Section: utils
Priority: optional
Architecture: all
Depends: python3, python3-requests, python3-gi, libgtk-4-1
Maintainer: Yazilimci <mobilturka@uygulama.com>
Description: GTK4 ile yazilmis Namaz Vakitleri uygulamasi.
